<!DOCTYPE html>
<html lang="en">

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Covid Map Europe</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>
  <header>
    <h1>Covid Map Europe</h1>
  </header>
  <main>

  </main>
  <script src="/scripts/map.js"></script>
</body>

</html>